==
<div class="container">
    <nav class="pull-left">
        <ul>
            <li ng-class="{{ "{ active: activePage == 'home' }" }}">
                <a href="{{ 'home' |page }}">home</a>
            </li>
            <li ng-class="{{ "{ active: activePage == 'about' }" }}">
                <a href="{{ 'about'|page }}">about</a>
            </li>
            <li ng-class="{{ "{ active: activePage == 'resources' }" }}">
                <a href="{{ 'resources'|page }}">resources</a>
            </li>
            <li ng-class="{{ "{ active: activePage == 'blog' }" }}">
                <a href="{{ 'blog/blog'|page }}">blog</a>
            </li>
            <li>
                <a href="#">contact</a>
            </li>
        </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="http://twitter.com/daftspunk" target="_blank">
            <div class="fa fa-twitter"></div><div class="fa fa-twitter"></div>
        </a>
        <a href="https://facebook.com/octobercms" target= target="_blank">
            <div class="fa fa-facebook"></div><div class="fa fa-facebook"></div>
        </a>
        <a href="https://vimeo.com/daftspunk" target="_blank">
            <div class="fa fa-vimeo-square"></div><div class="fa fa-vimeo-square"></div>
        </a>
    </div>
    <div class="additional-links">
        <a href="https://github.com/daftspunk/daftspunk" target="_blank">This website</a>
        is built using
        <a href="https://github.com/octobercms/october" target="_blank">OctoberCMS</a>
        &amp;
        <a href="https://github.com/responsiv/angular-plugin" target="_blank">AngularJS</a>
    </div>
</div>

