//
// Override Semantic UI
//

.ui.feed {
    font-size: 140%;

    .label {
        &, img { width: 5em; }
    }

    a:hover {
        .hyper-color;
    }

    @media (max-width: @screen-md-max) {
        font-size: 130%;
    }

    @media (max-width: @screen-sm-max) {
        font-size: 120%;
    }

    @media (max-width: @screen-xs-max) {
        font-size: 105%;
        .label {
            &, img { width: 3em; }
        }
    }

    .content .extra.text {
        border-left-color: #c0c8c9;
    }

    .content .summary {
        text-transform: uppercase;
        color: mix(@text-color, black, 80%);
    }
}