[appLayout]
==
<?
function onStart()
{
    $this->appLayout->addModuleDependency('angularMoment');
}

function stripHtmlFromUrl()
{
    // Redirect .html|.htm away
    $slug = $this->param('slug');
    if (ends_with($slug, ['.html', '.htm'])) {
        $redirect = $this->currentPageUrl(['slug' => str_replace(['.html', '.htm'], '', $slug)]);
        return Redirect::to($redirect, 301);
    }
}
?>
==
<!DOCTYPE html>
<html ng-app="appLayout">
    <head>
        <title>{{ this.page.title }} | hyper</title>
        <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1.0">
        <base href="{{ '/'|app }}/">

        {% styles %}

        <link href="{{ [
            '@framework.extras',
            'assets/vendor/prettify/prettify.css',
            'assets/vendor/prettify/theme-desert.css',
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body class="oc-loading" ng-class="bodyClass">

        <!-- Navigation -->
        <div id="layoutNav" class="ng-cloak">
            {% partial 'layout/nav' %}
        </div>

        <!-- Title -->
        <div id="layoutTitle">
            <div class="jumbotron jumbotron-home">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                            <a href="{{ 'blog/blog'|page }}"><h1>hyper<span class="hidden-xs">.october</span></h1></a>
                            <p class="lead">a hyperactive, hypercolored theme</p>
                            <hr />
                            <p>
                                find us on
                                <a href="http://twitter.com/octobercms" target="_blank">twitter</a>,
                                <a href="https://facebook.com/octobercms" target="_blank">facebook</a> or
                                <a href="https://vimeo.com/daftspunk" target="_blank">vimeo</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="container content-container">
            <div ng-view autoscroll id="layoutContent"></div>
        </div>

        <!-- Footer -->
        <div id="layoutFooter">
            {% partial 'layout/footer' %}
        </div>

        <div id="loadingSheet">
            <img src="{{ 'assets/vendor/loading/loading-bubbles.svg'|theme }}" alt="Loading icon" />
        </div>

        <script src="{{ [
            'assets/javascript/jquery.js',
            '@framework',
            '@framework.extras'
        ]|theme }}"></script>

        {% component 'appLayout' %}

        <script src="{{ ['assets/javascript/app.js']|theme }}"></script>

        {% scripts %}

    </body>
</html>